<h3>Search Bar Input</h3>

<div>
    Search:
    <input type="text" @bind-value="_filter" @oninput="HandleSearch" />
    <button @onclick="HandleClick">Search</button>
</div>
<br/>


@*(for testing) putting filter directly into the view*@
@_filter

@code {
    // Inputbox data
    private string _filter;

    // Event handler

    private void HandleSearch(ChangeEventArgs args)
    {
        _filter = args.Value.ToString();
        Console.WriteLine("SearchBar_Component.HandleSearch");
    }
    private void HandleClick()
    {
        Console.WriteLine("Button clicked");
    }
}


@*<h3>Search Bar</h3>

<div>
    Search:
    <input type="text" @bind-value="_filter" />
    <button @onclick="HandleSearch">Search</button>
</div>

<br />
@*(for testing) putting filter directly into the view*@
@* 
    @_filter
*@

@*@code {
    // Inputbox data
    private string _filter;

    // Event handler

    private void HandleSearch()
    {
        Console.WriteLine("SearchBar_Component.HandleSearch");
    }
}*@