@page "/products"

@inject NavigationManager NavigationManager
@inject ISearchProduct searchProduct

<h3>SearchProducts</h3>

@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();
        var products = searchProduct.Execute();
    }
}
